
.form-layout {
  border-radius: 20px;
  width: 36rem!important;
}

.mr-btn-1 {
  margin-right: 0.2rem;
}


@media (max-width: 578px) {
  .form-layout {
    width: 90%!important;
  }
}
@media (min-width: 768px) {
  .h-middle-screen {
    height: 270px!important;
  }
}

@media (min-width: 1200px) {
  .h-middle-screen {
    height: 370px!important;
  }
}